<p>
<a class="btn btn-success btn-block" href="<%= new_restaurant_path %>">新しくお店を登録する</a>
</p>

<h1>レストラン一覧</h1>
<table>
<thead>
<tr>
  <td>名前</td>
  <td>電話番号</td>
  <td>住所</td>
</tr>
</thead>
<tbody>
<% @restaurants.each do |restaurant| %>
  <tr>
    <td><a href="<%= restaurant_path(restaurant) %>"><%= restaurant.name %></a></td>
    <td><%= restaurant.tel %></td>
    <td><%= restaurant.address %></td>
<% end %>
</tbody>
</table>
