<h1>
  <%= @restaurant.name %>
  <span class="pull-right">
    <%= @restaurant.tel %>
  </span>
</h1>

<hr>

<p>
  <% score = calc_score(@restaurant) %>
  <p style="float:left;"><%= image_tag show_review_stars(score) %></p>
  <p style="color:red; font-size:170%;font-weight:bold;float:left;margin-top:-5px"><%= score %></p>
</p>
<br sytle="clear:both">
<p style="margin: 10px">
<a class="btn btn-success btn-block" href="<%= new_restaurant_review_path(@restaurant) %>">レビューを投稿する</a>
</p>

<h2>レビュー一覧</h2>
<% if @restaurant.reviews.length > 0 %>
  <ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.score %>点 - <%= review.body %>
      <% if current_user and current_user.id and
            current_user.id == review.user_id %>
        <%= link_to '編集',
              edit_restaurant_review_path(@restaurant, review) %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>なし</p>
<% end %>

<hr>

<div class="panel panel-default">
      <div class="panel-heading">
        店舗情報
        <span class="pull-right">
        <a href="<%= edit_restaurant_path(@restaurant) %>">編集する</a>
        </span>
      </div>
        <table class="table">
          <tr>
            <th>店名</th>
            <td><%= @restaurant.name %></td>
          </tr>
          <tr>
            <th>TEL・予約</th>
            <td><%= @restaurant.tel %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td><a href="<%= @restaurant.url %>"><%= @restaurant.url %></a></td>
          </tr>
        </table>
      </div>
    </div>
<hr>
