
<h1>
  <%= @restaurant.name %>
  <span class="pull-right">
    <%= @restaurant.tel %>
  </span>
</h1>

<p>
  <% score = calc_score(@restaurant) %>
  <p style="float:left;"><%= image_tag show_review_stars(score) %></p>
  <p style="color:red; font-size:170%;font-weight:bold;float:left;margin-top:-5px"><%= score %></p>
  <p style="float:right"><%= render 'restaurants/tag_list', tag_list: @restaurant.tag_list %></p>
</p>

<hr style="clear:both;" />

<div class="row">
<div class="col-md-6">
<img src="<%= shop_image_url(@restaurant) %>" width="400" >
</div>

<div class="col-md-4">
<h2>レビュー一覧
  <span style="float:right">
</h2>
<% if @restaurant.reviews.length > 0 %>
  <ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.score %>点 - <%= review.body %> by <%= review.user.name %>
      <% if current_user and current_user.id and
            current_user.id == review.user_id %>
        <%= link_to '編集',
              edit_restaurant_review_path(@restaurant, review) %>
      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>なし</p>
<% end %>

</div>

<div class="col-md-2">
  <p>
    <a class="btn btn-success btn-block" href="<%= new_restaurant_review_path(@restaurant) %>">レビューを投稿する</a>
  </p>
  <p>
    <% favorite = get_favorite(current_user.id, @restaurant) %>
    <% if favorite %>
      <%= link_to 'お気に入りを解除', restaurant_favorites_path([@restaurant, favorite]), method: :delete, class: "btn btn-info btn-block" %>
    <% else %>
      <%= link_to 'お気に入りに登録', restaurant_favorites_path(@restaurant), method: :post, class: "btn btn-default btn-block" %>
    <% end %>
  </p>
</div>

</div>
<hr>

<div class="panel panel-default">
      <div class="panel-heading">
        店舗情報
        <span class="pull-right">
        <a href="<%= edit_restaurant_path(@restaurant) %>">編集する</a>
        </span>
      </div>
        <table class="table">
          <tr>
            <th>店名</th>
            <td><%= @restaurant.name %></td>
          </tr>
          <tr>
            <th>TEL・予約</th>
            <td><%= @restaurant.tel %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @restaurant.address %></td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td><a href="<%= @restaurant.url %>"><%= @restaurant.url %></a></td>
          </tr>
          <tr>
            <td colspan="2">
<iframe src="http://maps.google.co.jp/maps?q=<%= @restaurant.address %>&z=14&output=embed" height="350" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </td>
          </tr>
        </table>
      </div>
    </div>
<hr>

